<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Info</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Форма для ввода данных пользователей</h1>
        <form method="POST" action="/">
            <div class="form-group">
                <label for="name">Имя</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="city">Город</label>
                <input type="text" class="form-control" id="city" name="city" required>
            </div>
            <div class="form-group">
                <label for="hobby">Хобби</label>
                <input type="text" class="form-control" id="hobby" name="hobby" required>
            </div>
            <div class="form-group">
                <label for="age">Возраст</label><input type="number" class="form-control" id="age" name="age" required>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>

        <div class="mt-5">
            <h2 class="text-center">Анкеты пользователей</h2>
            <div class="row">
                {% for user in users %}
                    <div class="col-md-4 mt-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ user.name }}</h5>
                                <p class="card-text"><strong>Город:</strong> {{ user.city }}</p>
                                <p class="card-text"><strong>Хобби:</strong> {{ user.hobby }}</p>
                                <p class="card-text"><strong>Возраст:</strong> {{ user.age }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
</body>
</html>
